* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 7.5);
  --radical-cyan: hsl(179, 100%, 58%);
  --fs-11: 1.2rem;
  --radius-circle: 50%;
  --transition-2: 0.5s ease;
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
}
/* will-change */
.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}
body {
  background-image: url(../img/bg.jpg);
  background-size: 50px;
  color: #fafafa;
  font-family: raleway-c;
  overflow-x: hidden;
}
.hero {
  width: calc(var(--index) * 36);
  position: absolute;
  left: 37vw;
  top: 22vh;
  z-index: -1;
}
.main-header {
  height: 100vh;
}
.container {
  padding: 0 7vw;
}
.main-title {
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: min-content;
  bottom: 12vh;
  line-height: 0.9;
}
.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}
.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}
.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}
.text-block {
  color: var(--color-text);
  position: relative;
}
.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}
.text-block__p {
  line-height: 1.75;
}

.container1 {
  position: relative;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #fff;
  width: 300px;
  height: 560px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 56px 72px -30px rgba(81, 108, 95, 0.46);
  box-shadow: 0px 56px 72px -30px rgba(81, 108, 95, 0.46);
}

.next-screen {
  position: absolute;
  background-color: #101010;
  width: 100%;
  padding: 40px 25px 0 25px;
  z-index: 100;
}

.screen-1 .top {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 300px;
  background: url("../img/work/bg-369.jpg");
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}

.screen-1 {
  padding: 40px 25px 0 25px;
}

.screen-1 img {
  height: 16px;
}

.screen-1 .top h1 {
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.86);
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 40px 20px;
  line-height: 1;
  z-index: 1;
}

.screen-1 .top h1 span {
  font-size: 24px;
  font-weight: 600;
}

.screen-1 .button {
  position: absolute;
  left: 50%;
  top: 84%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 42px;
  height: 42px;
  background-color: #101010;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
}

.screen-1 .button svg {
  position: absolute;
  left: 52%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #fff;
  height: 16px;
  width: 16px;
}

.screen-1 .loading {
  position: relative;
  bottom: 16px;
  font-size: 14px;
  left: 40px;
  font-weight: 500;
  z-index: 210;
  color: #cacaca;
}

.next-screen svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.next-screen h1 {
  color: #fff;
  margin-top: 20px;
  line-height: 1;
}

.next-screen h1 span {
  font-size: 24px;
  font-weight: 600;
}

.next-screen .header {
  width: 100%;
  height: 150px;
  background: url("../img/work/bg-369.jpg");
  border: 20px;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
}

.next-screen p {
  color: #fff;
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  line-height: 2;
  padding-bottom: 25px;
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 30px;
  right: -70px;
  width: 70px;
  height: 70px;
  border: 1px dashed currentColor;
  color: var(--radical-cyan);
  font-size: var(--fs-11);
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 3;
}

.back-top-btn.show {
  transform: translateX(-100px);
  visibility: visible;
}

.back-top-btn:hover { color: var(--white); }
